<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutong.wsk.mapper.user.UserMapper">
    <resultMap id="userMap" type="com.wutong.wsk.domain.user.User" >
     <result column="USER_ID" property="userId"/>
     <result column="USER_NAME" property="userName"/>
     <result column="REAL_NAME" property="realName"/>
     <result column="SEX" property="sex"/>
     <result column="BIRTHDAY" property="birthday"/>
     <result column="TEL_NO" property="telNo"/>
     <result column="MAIL" property="mail"/>
     <result column="ID_NUMBER" property="idNumber"/>
     <result column="DEPT_NO" property="deptNo"/>
     <result column="USER_STS" property="userSts"/>
     <result column="LOGIN_PWD" property="loginPwd"/>
     <result column="LOGIN_TIME" property="loginTime"/>
     <result column="LOGIN_IP" property="loginIp"/>
     <result column="EMPOWER_ROLES" property="empowerRoles"/>
     <result column="IS_ALLOW_LOGIN" property="isAllowLogin"/>
     <result column="PWD_ERR_CUNT" property="pwdErrCunt"/>
     <result column="LAST_UPT_PWD_TIME" property="lastUptPwdTime"/>
     <result column="CTE_USER_NO" property="cteUserNo"/>
     <result column="UTE_USER_NO" property="uteUserNo"/>
     <result column="UTE_DT" property="uteDt"/>
     <result column="CTE_DT" property="cteDt"/>
    </resultMap>
    
    <sql id="whereQueryCondition">
        <where>
            <if test="user.userId!= null and  user.userId!= ''">
                and USER_ID=#{user.userId}
            </if>
            <if test="user.userName!= null and  user.userName!= ''">
                and USER_NAME=#{user.userName}
            </if>
            <if test="user.realName!= null and  user.realName!= ''">
                and REAL_NAME=#{user.realName}
            </if>
            <if test="user.sex!= null and  user.sex!= ''">
                and SEX=#{user.sex}
            </if>
        </where>
    </sql>
    
    <select id="findByCondition" parameterType="java.util.Map" resultType="Map">
        SELECT
            t.USER_ID as "userId",
            t.USER_NAME as "userName",
            t.REAL_NAME as "realName",
            t.SEX as "sex",
            t.BIRTHDAY as "birthday",
            t.TEL_NO as "telNo",
            t.MAIL as "mail",
            t.ID_NUMBER as "idNumber",
            t.DEPT_NO as "deptNo",
            t.USER_STS as "userSts",
            t.LOGIN_PWD as "loginPwd",
            t.LOGIN_TIME as "loginTime",
            t.LOGIN_IP as "loginIp",
            t.EMPOWER_ROLES as "empowerRoles",
            t.IS_ALLOW_LOGIN as "isAllowLogin",
            t.PWD_ERR_CUNT as "pwdErrCunt",
            t.LAST_UPT_PWD_TIME as "lastUptPwdTime",
            t.CTE_USER_NO as "cteUserNo",
            t.UTE_USER_NO as "uteUserNo",
            t.UTE_DT as "uteDt",
            t.CTE_DT as "cteDt"
            <!-- 请在此关联查询表 -->
            FROM USER t
            <include refid="whereQueryCondition"></include>
            limit #{startRow}, #{endRow}
    </select>
    <select id="findByConditionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
            COUNT(*) 
        FROM USER
        <include refid="whereQueryCondition"></include>
    </select>
    <select id="getByKey" parameterType="com.wutong.wsk.domain.user.User" resultMap="userMap">
        SELECT
            USER_ID, USER_NAME, REAL_NAME, SEX, BIRTHDAY, TEL_NO, MAIL, ID_NUMBER, DEPT_NO, USER_STS, LOGIN_PWD, LOGIN_TIME, LOGIN_IP, EMPOWER_ROLES, IS_ALLOW_LOGIN, PWD_ERR_CUNT, LAST_UPT_PWD_TIME, CTE_USER_NO, UTE_USER_NO, UTE_DT, CTE_DT
        FROM 
            USER
        WHERE
            USER_ID=#{userId}
    </select>
    <insert id="insert" parameterType="com.wutong.wsk.domain.user.User">
        INSERT INTO USER (
                USER_ID,
                USER_NAME,
                REAL_NAME,
                SEX,
                BIRTHDAY,
                TEL_NO,
                MAIL,
                ID_NUMBER,
                DEPT_NO,
                USER_STS,
                LOGIN_PWD,
                LOGIN_TIME,
                LOGIN_IP,
                EMPOWER_ROLES,
                IS_ALLOW_LOGIN,
                PWD_ERR_CUNT,
                LAST_UPT_PWD_TIME,
                CTE_USER_NO,
                UTE_USER_NO,
                UTE_DT,
                CTE_DT
        ) VALUES (
                #{userId,jdbcType=VARCHAR},
                #{userName,jdbcType=VARCHAR},
                #{realName,jdbcType=VARCHAR},
                #{sex,jdbcType=VARCHAR},
                #{birthday,jdbcType=VARCHAR},
                #{telNo,jdbcType=VARCHAR},
                #{mail,jdbcType=VARCHAR},
                #{idNumber,jdbcType=VARCHAR},
                #{deptNo,jdbcType=VARCHAR},
                #{userSts,jdbcType=VARCHAR},
                #{loginPwd,jdbcType=VARCHAR},
                #{loginTime,jdbcType=VARCHAR},
                #{loginIp,jdbcType=VARCHAR},
                #{empowerRoles,jdbcType=VARCHAR},
                #{isAllowLogin,jdbcType=VARCHAR},
                #{pwdErrCunt,jdbcType=VARCHAR},
                #{lastUptPwdTime,jdbcType=VARCHAR},
                #{cteUserNo,jdbcType=VARCHAR},
                #{uteUserNo,jdbcType=VARCHAR},
                #{uteDt,jdbcType=VARCHAR},
                #{cteDt,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO USER(
                    USER_ID,
                                USER_NAME,
                                REAL_NAME,
                                SEX,
                                BIRTHDAY,
                                TEL_NO,
                                MAIL,
                                ID_NUMBER,
                                DEPT_NO,
                                USER_STS,
                                LOGIN_PWD,
                                LOGIN_TIME,
                                LOGIN_IP,
                                EMPOWER_ROLES,
                                IS_ALLOW_LOGIN,
                                PWD_ERR_CUNT,
                                LAST_UPT_PWD_TIME,
                                CTE_USER_NO,
                                UTE_USER_NO,
                                UTE_DT,
                                CTE_DT
            )
        <foreach collection="list" item="item" index="index" separator="union all">
            SELECT
                    #{item.userId,jdbcType=VARCHAR},
                    #{item.userName,jdbcType=VARCHAR},
                    #{item.realName,jdbcType=VARCHAR},
                    #{item.sex,jdbcType=VARCHAR},
                    #{item.birthday,jdbcType=VARCHAR},
                    #{item.telNo,jdbcType=VARCHAR},
                    #{item.mail,jdbcType=VARCHAR},
                    #{item.idNumber,jdbcType=VARCHAR},
                    #{item.deptNo,jdbcType=VARCHAR},
                    #{item.userSts,jdbcType=VARCHAR},
                    #{item.loginPwd,jdbcType=VARCHAR},
                    #{item.loginTime,jdbcType=VARCHAR},
                    #{item.loginIp,jdbcType=VARCHAR},
                    #{item.empowerRoles,jdbcType=VARCHAR},
                    #{item.isAllowLogin,jdbcType=VARCHAR},
                    #{item.pwdErrCunt,jdbcType=VARCHAR},
                    #{item.lastUptPwdTime,jdbcType=VARCHAR},
                    #{item.cteUserNo,jdbcType=VARCHAR},
                    #{item.uteUserNo,jdbcType=VARCHAR},
                    #{item.uteDt,jdbcType=VARCHAR},
                    #{item.cteDt,jdbcType=VARCHAR}
            FROM DUAL
        </foreach>
    </insert>
    <update id="update" parameterType="com.wutong.wsk.domain.user.User">
        UPDATE USER
        SET
              <if test="userId!= null and userId!= ''">
                  USER_ID=#{userId},
              </if>
              <if test="userName!= null and userName!= ''">
                  USER_NAME=#{userName},
              </if>
              <if test="realName!= null and realName!= ''">
                  REAL_NAME=#{realName},
              </if>
              <if test="sex!= null and sex!= ''">
                  SEX=#{sex},
              </if>
              <if test="birthday!= null">
                  BIRTHDAY=#{birthday},
              </if>
              <if test="telNo!= null and telNo!= ''">
                  TEL_NO=#{telNo},
              </if>
              <if test="mail!= null and mail!= ''">
                  MAIL=#{mail},
              </if>
              <if test="idNumber!= null and idNumber!= ''">
                  ID_NUMBER=#{idNumber},
              </if>
              <if test="deptNo!= null and deptNo!= ''">
                  DEPT_NO=#{deptNo},
              </if>
              <if test="userSts!= null and userSts!= ''">
                  USER_STS=#{userSts},
              </if>
              <if test="loginPwd!= null and loginPwd!= ''">
                  LOGIN_PWD=#{loginPwd},
              </if>
              <if test="loginTime!= null and loginTime!= ''">
                  LOGIN_TIME=#{loginTime},
              </if>
              <if test="loginIp!= null and loginIp!= ''">
                  LOGIN_IP=#{loginIp},
              </if>
              <if test="empowerRoles!= null and empowerRoles!= ''">
                  EMPOWER_ROLES=#{empowerRoles},
              </if>
              <if test="isAllowLogin!= null and isAllowLogin!= ''">
                  IS_ALLOW_LOGIN=#{isAllowLogin},
              </if>
              <if test="pwdErrCunt!= null and pwdErrCunt!= ''">
                  PWD_ERR_CUNT=#{pwdErrCunt},
              </if>
              <if test="lastUptPwdTime!= null">
                  LAST_UPT_PWD_TIME=#{lastUptPwdTime},
              </if>
              <if test="uteUserNo!= null and uteUserNo!= ''">
                  UTE_USER_NO=#{uteUserNo},
              </if>
              <if test="uteDt!= null">
                  UTE_DT=#{uteDt}
              </if>
        WHERE
            USER_ID=#{userId}
    </update>
    <delete id="delete" parameterType="java.util.Map">
         delete from USER
         where
            USER_ID
           in 
        <foreach item="item" index="index" collection="keys" open="(" separator="," close=")">
              #{item}
        </foreach>
    </delete>
</mapper>
