<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wutong.wsk.mapper.TBapSysMenuMapper">
	<resultMap id="tBapSysMenuResult" type="com.wutong.wsk.domain.TBapSysMenu">
		<result column="uuid" property="uuid" />
		<result column="parent_id" property="parentId" />
		<result column="parent_ids" property="parentIds" />
		<result column="menu_name" property="menuName" />
		<result column="target" property="target" />
		<result column="icon" property="icon" />
		<result column="sort" property="sort" />
		<result column="is_show" property="isShow" />
		<result column="permisssion" property="permisssion" />
		<result column="cte_stff_no" property="cteStffNo" />
		<result column="dt_cte" property="dtCte" />
		<result column="ute_stff_no" property="uteStffNo" />
		<result column="da_ute" property="daUte" />
		<result column="remarks" property="remarks" />
		<result column="atv_flg" property="atvFlg" />
		<result column="menu_id" property="menuId" />
	</resultMap>
	<insert id="addTBapSysMenu" parameterType="java.util.Map">
		insert into SYS_MENU (
		<trim suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="parentid != null">
				parent_id,
			</if>
			<if test="parentids != null">
				parent_ids,
			</if>
			<if test="menuname != null">
				menu_name,
			</if>
			<if test="target != null">
				target,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="isshow != null">
				is_show,
			</if>
			<if test="permisssion != null">
				permisssion,
			</if>
			<if test="ctestffno != null">
				cte_stff_no,
			</if>
			<if test="dtcte != null">
				dt_cte,
			</if>
			<if test="utestffno != null">
				ute_stff_no,
			</if>
			<if test="daute != null">
				da_ute,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="atvflg != null">
				atv_flg,
			</if>
			<if test="menuid != null">
				menu_id
			</if>
		</trim>
		)values(
		<trim suffixOverrides=",">
			<if test="uuid != null">
				#{uuid},
			</if>
			<if test="parentid != null">
				#{parentid},
			</if>
			<if test="parentids != null">
				#{parentids},
			</if>
			<if test="menuname != null">
				#{menuname},
			</if>
			<if test="target != null">
				#{target},
			</if>
			<if test="icon != null">
				#{icon},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
			<if test="isshow != null">
				#{isshow},
			</if>
			<if test="permisssion != null">
				#{permisssion},
			</if>
			<if test="ctestffno != null">
				#{ctestffno},
			</if>
			<if test="dtcte != null">
				#{dtcte},
			</if>
			<if test="utestffno != null">
				#{utestffno},
			</if>
			<if test="daute != null">
				#{daute},
			</if>
			<if test="remarks != null">
				#{remarks},
			</if>
			<if test="atvflg != null">
				#{atvflg},
			</if>
			<if test="menuid != null">
				#{menuid}
			</if>
		</trim>
		)
	</insert>

	<update id="updateTBapSysMenu" parameterType="java.util.Map">
		update SYS_MENU
		<trim prefix="SET" suffixOverrides=",">
			<if test="uuid != null">
				uuid= #{uuid},
			</if>
			<if test="parentid != null">
				parent_id= #{parentid},
			</if>
			<if test="parentids != null">
				parent_ids= #{parentids},
			</if>
			<if test="menuname != null">
				menu_name= #{menuname},
			</if>
			<if test="target != null">
				target= #{target},
			</if>
			<if test="icon != null">
				icon= #{icon},
			</if>
			<if test="sort != null">
				sort= #{sort},
			</if>
			<if test="isshow != null">
				is_show= #{isshow},
			</if>
			<if test="permisssion != null">
				permisssion= #{permisssion},
			</if>
			<if test="ctestffno != null">
				cte_stff_no= #{ctestffno},
			</if>
			<if test="dtcte != null">
				dt_cte= #{dtcte},
			</if>
			<if test="utestffno != null">
				ute_stff_no= #{utestffno},
			</if>
			<if test="daute != null">
				da_ute= #{daute},
			</if>
			<if test="remarks != null">
				remarks= #{remarks},
			</if>
			<if test="atvflg != null">
				atv_flg= #{atvflg},
			</if>
			<if test="menuid != null">
				menu_id= #{menuid}
			</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="parentid != null">
				AND parent_id= #{parentid}
			</if>
			<if test="parentids != null">
				AND parent_ids= #{parentids}
			</if>
			<if test="menuname != null">
				AND menu_name= #{menuname}
			</if>
			<if test="target != null">
				AND target= #{target}
			</if>
			<if test="icon != null">
				AND icon= #{icon}
			</if>
			<if test="sort != null">
				AND sort= #{sort}
			</if>
			<if test="isshow != null">
				AND is_show= #{isshow}
			</if>
			<if test="permisssion != null">
				AND permisssion= #{permisssion}
			</if>
			<if test="ctestffno != null">
				AND cte_stff_no= #{ctestffno}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="utestffno != null">
				AND ute_stff_no= #{utestffno}
			</if>
			<if test="daute != null">
				AND da_ute= #{daute}
			</if>
			<if test="remarks != null">
				AND remarks= #{remarks}
			</if>
			<if test="atvflg != null">
				AND atv_flg= #{atvflg}
			</if>
			<if test="menuid != null">
				AND menu_id= #{menuid}
			</if>
		</trim>
	</update>


	<delete id="deleteTBapSysMenu" parameterType="java.util.Map">
		delete from SYS_MENU
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="parentid != null">
				AND parent_id= #{parentid}
			</if>
			<if test="parentids != null">
				AND parent_ids= #{parentids}
			</if>
			<if test="menuname != null">
				AND menu_name= #{menuname}
			</if>
			<if test="target != null">
				AND target= #{target}
			</if>
			<if test="icon != null">
				AND icon= #{icon}
			</if>
			<if test="sort != null">
				AND sort= #{sort}
			</if>
			<if test="isshow != null">
				AND is_show= #{isshow}
			</if>
			<if test="permisssion != null">
				AND permisssion= #{permisssion}
			</if>
			<if test="ctestffno != null">
				AND cte_stff_no= #{ctestffno}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="utestffno != null">
				AND ute_stff_no= #{utestffno}
			</if>
			<if test="daute != null">
				AND da_ute= #{daute}
			</if>
			<if test="remarks != null">
				AND remarks= #{remarks}
			</if>
			<if test="atvflg != null">
				AND atv_flg= #{atvflg}
			</if>
			<if test="menuid != null">
				AND menu_id= #{menuid}
			</if>
		</trim>
	</delete>
	
	<select id="findAllTBapSysMenu" parameterType="java.util.Map" resultType="java.util.Map">
		select
		uuid,parent_id,parent_ids,menu_name,target,icon,sort,is_show,permisssion,cte_stff_no,dt_cte,ute_stff_no,da_ute,remarks,atv_flg,menu_id
		from SYS_MENU
		<where>
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="parentid != null">
				AND parent_id= #{parentid}
			</if>
			<if test="parentids != null">
				AND parent_ids= #{parentids}
			</if>
			<if test="menuname != null">
				AND menu_name= #{menuname}
			</if>
			<if test="target != null">
				AND target= #{target}
			</if>
			<if test="icon != null">
				AND icon= #{icon}
			</if>
			<if test="sort != null">
				AND sort= #{sort}
			</if>
			<if test="isshow != null">
				AND is_show= #{isshow}
			</if>
			<if test="permisssion != null">
				AND permisssion= #{permisssion}
			</if>
			<if test="ctestffno != null">
				AND cte_stff_no= #{ctestffno}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="utestffno != null">
				AND ute_stff_no= #{utestffno}
			</if>
			<if test="daute != null">
				AND da_ute= #{daute}
			</if>
			<if test="remarks != null">
				AND remarks= #{remarks}
			</if>
			<if test="atvflg != null">
				AND atv_flg= #{atvflg}
			</if>
			<if test="menuid != null">
				AND menu_id= #{menuid}
			</if>
		</where>
		order by parent_ids asc
	</select>

	<select id="queryTBapSysMenu" parameterType="java.util.Map"
		resultType="java.util.Map">
		select
		uuid,parent_id,parent_ids,menu_name,target,icon,sort,is_show,permisssion,cte_stff_no,dt_cte,ute_stff_no,da_ute,remarks,atv_flg,menu_id
		from SYS_MENU
		<where>
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="parentid != null">
				AND parent_id= #{parentid}
			</if>
			<if test="parentids != null">
				AND parent_ids= #{parentids}
			</if>
			<if test="menuname != null">
				AND menu_name= #{menuname}
			</if>
			<if test="target != null">
				AND target= #{target}
			</if>
			<if test="icon != null">
				AND icon= #{icon}
			</if>
			<if test="sort != null">
				AND sort= #{sort}
			</if>
			<if test="isshow != null">
				AND is_show= #{isshow}
			</if>
			<if test="permisssion != null">
				AND permisssion= #{permisssion}
			</if>
			<if test="ctestffno != null">
				AND cte_stff_no= #{ctestffno}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="utestffno != null">
				AND ute_stff_no= #{utestffno}
			</if>
			<if test="daute != null">
				AND da_ute= #{daute}
			</if>
			<if test="remarks != null">
				AND remarks= #{remarks}
			</if>
			<if test="atvflg != null">
				AND atv_flg= #{atvflg}
			</if>
			<if test="menuid != null">
				AND menu_id= #{menuid}
			</if>
		</where>
	</select>
	
	<select id="countTBapSysMenu" parameterType="java.util.Map"
		resultType="Integer">
		select count(1) from SYS_MENU
		<where>
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="parentid != null">
				AND parent_id= #{parentid}
			</if>
			<if test="parentids != null">
				AND parent_ids= #{parentids}
			</if>
			<if test="menuname != null">
				AND menu_name= #{menuname}
			</if>
			<if test="target != null">
				AND target= #{target}
			</if>
			<if test="icon != null">
				AND icon= #{icon}
			</if>
			<if test="sort != null">
				AND sort= #{sort}
			</if>
			<if test="isshow != null">
				AND is_show= #{isshow}
			</if>
			<if test="permisssion != null">
				AND permisssion= #{permisssion}
			</if>
			<if test="ctestffno != null">
				AND cte_stff_no= #{ctestffno}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="utestffno != null">
				AND ute_stff_no= #{utestffno}
			</if>
			<if test="daute != null">
				AND da_ute= #{daute}
			</if>
			<if test="remarks != null">
				AND remarks= #{remarks}
			</if>
			<if test="atvflg != null">
				AND atv_flg= #{atvflg}
			</if>
			<if test="menuid != null">
				AND menu_id= #{menuid}
			</if>
		</where>
	</select>

	<select id="getChildsByMenuId" parameterType="java.util.Map"
		resultType="java.util.Map">
		select t.uuid,
		t.parent_id,
		t.parent_ids,
		t.menu_name,
		t.target,
		t.icon,
		t.sort,
		t.is_show,
		t.permisssion,
		t.cte_stff_no,
		t.dt_cte,
		t.ute_stff_no,
		t.da_ute,
		t.remarks,
		t.atv_flg,
		t.menu_id,
		c.role_id
		from SYS_MENU t,
		BAP.t_Bap_Sys_Role_Menu c
		where c.menu_id = t.menu_id
		<if test="roleId!=null">
			and c.role_id= #{roleId}
		</if>
		<if test="parentId!=null">
			and t.parent_id= #{parentId}
		</if>
	</select>
</mapper>