<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wutong.wsk.mapper.TBapSysUserRoleMapper">
	<resultMap id="tBapSysUserRoleResult" type="com.wutong.wsk.domain.TBapSysUserRole">
		<result column="uuid" property="uuid" />
		<result column="user_id" property="userId" />
		<result column="role_id" property="roleId" />
		<result column="org_id" property="orgId" />
		<result column="dt_cte" property="dtCte" />
		<result column="tm_cte" property="tmCte" />
	</resultMap>
	<insert id="addTBapSysUserRole" parameterType="java.util.Map">
		insert into BAP.T_BAP_SYS_USER_ROLE (
		<trim suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="userid != null">
				user_id,
			</if>
			<if test="roleid != null">
				role_id,
			</if>
			<if test="orgid != null">
				org_id,
			</if>
			<if test="dtcte != null">
				dt_cte,
			</if>
			<if test="tmcte != null">
				tm_cte
			</if>
		</trim>
		)values(
		<trim suffixOverrides=",">
			<if test="uuid != null">
				#{uuid},
			</if>
			<if test="userid != null">
				#{userid},
			</if>
			<if test="roleid != null">
				#{roleid},
			</if>
			<if test="orgid != null">
				#{orgid},
			</if>
			<if test="dtcte != null">
				#{dtcte},
			</if>
			<if test="tmcte != null">
				#{tmcte}
			</if>
		</trim>
		)
	</insert>


	<update id="updateTBapSysUserRole" parameterType="java.util.Map">
		update BAP.T_BAP_SYS_USER_ROLE
		<trim prefix="SET" suffixOverrides=",">
			<if test="uuid != null">
				uuid= #{uuid},
			</if>
			<if test="userid != null">
				user_id= #{userid},
			</if>
			<if test="roleid != null">
				role_id= #{roleid},
			</if>
			<if test="orgid != null">
				org_id= #{orgid},
			</if>
			<if test="dtcte != null">
				dt_cte= #{dtcte},
			</if>
			<if test="tmcte != null">
				tm_cte= #{tmcte}
			</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="userid != null">
				AND user_id= #{userid}
			</if>
			<if test="roleid != null">
				AND role_id= #{roleid}
			</if>
			<if test="orgid != null">
				AND org_id= #{orgid}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="tmcte != null">
				AND tm_cte= #{tmcte}
			</if>
		</trim>
	</update>


	<delete id="deleteTBapSysUserRole" parameterType="java.util.Map">
		delete from BAP.T_BAP_SYS_USER_ROLE
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="userid != null">
				AND user_id= #{userid}
			</if>
			<if test="roleid != null">
				AND role_id= #{roleid}
			</if>
			<if test="orgid != null">
				AND org_id= #{orgid}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="tmcte != null">
				AND tm_cte= #{tmcte}
			</if>
		</trim>
	</delete>


	<select id="queryTBapSysUserRole" parameterType="java.util.Map"
		resultMap="tBapSysUserRoleResult">
		select uuid,user_id,role_id,org_id,dt_cte,tm_cte from
		BAP.T_BAP_SYS_USER_ROLE
		<where>
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="userid != null">
				AND user_id= #{userid}
			</if>
			<if test="roleid != null">
				AND role_id= #{roleid}
			</if>
			<if test="orgid != null">
				AND org_id= #{orgid}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="tmcte != null">
				AND tm_cte= #{tmcte}
			</if>
		</where>
	</select>
	<select id="countTBapSysUserRole" parameterType="java.util.Map"
		resultType="Integer">
		select count(1) from BAP.T_BAP_SYS_USER_ROLE
		<where>
			<if test="uuid != null">
				uuid= #{uuid}
			</if>
			<if test="userid != null">
				AND user_id= #{userid}
			</if>
			<if test="roleid != null">
				AND role_id= #{roleid}
			</if>
			<if test="orgid != null">
				AND org_id= #{orgid}
			</if>
			<if test="dtcte != null">
				AND dt_cte= #{dtcte}
			</if>
			<if test="tmcte != null">
				AND tm_cte= #{tmcte}
			</if>
		</where>
	</select>








</mapper>