<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wutong.wsk.mapper.TBapSysUserMapper">
	<resultMap id="tBapSysUserResult" type="com.wutong.wsk.domain.TBapSysUser">
		<result column="emp_no" property="empNo" />
		<result column="emp_nm" property="empNm" />
		<result column="emp_sts" property="empSts" />
		<result column="lob_id" property="lobId" />
		<result column="emp_sex" property="empSex" />
		<result column="emp_birthday" property="empBirthday" />
		<result column="join_date" property="joinDate" />
		<result column="dept_uuid" property="deptUuid" />
		<result column="dept_nm" property="deptNm" />
		<result column="org_uuid" property="orgUuid" />
		<result column="org_nm" property="orgNm" />
		<result column="tel_no" property="telNo" />
		<result column="mb_no" property="mbNo" />
		<result column="mail" property="mail" />
		<result column="position_name" property="positionName" />
		<result column="position_id" property="positionId" />
		<result column="position_id_fix" property="positionIdFix" />
		<result column="active_flg" property="activeFlg" />
		<result column="created_staff_id" property="createdStaffId" />
		<result column="updated_staff_id" property="updatedStaffId" />
		<result column="date_created" property="dateCreated" />
		<result column="last_updated" property="lastUpdated" />
		<result column="emp_uuid" property="empUuid" />
		<result column="has_other_position" property="hasOtherPosition" />
		<result column="is_main_position" property="isMainPosition" />
		<result column="login_id" property="loginId" />
		<result column="login_pwd" property="loginPwd" />
		<result column="emp_nm_spell" property="empNmSpell" />
		<result column="is_allow_login" property="isAllowLogin" />
		<result column="created_staff_nm" property="createdStaffNm" />
		<result column="updated_staff_nm" property="updatedStaffNm" />
		<result column="emp_prop" property="empProp" />
		<result column="pwd_err_cunt" property="pwdErrCunt" />
	</resultMap>
	<insert id="addTBapSysUser" parameterType="java.util.Map">
		insert into SYS_EMPLOYEE (
		<trim suffixOverrides=",">
			<if test="empno != null">
				emp_no,
			</if>
			<if test="empnm != null">
				emp_nm,
			</if>
			<if test="empsts != null">
				emp_sts,
			</if>
			<if test="lobid != null">
				lob_id,
			</if>
			<if test="empsex != null">
				emp_sex,
			</if>
			<if test="empbirthday != null">
				emp_birthday,
			</if>
			<if test="joindate != null">
				join_date,
			</if>
			<if test="deptuuid != null">
				dept_uuid,
			</if>
			<if test="deptnm != null">
				dept_nm,
			</if>
			<if test="orguuid != null">
				org_uuid,
			</if>
			<if test="orgnm != null">
				org_nm,
			</if>
			<if test="telno != null">
				tel_no,
			</if>
			<if test="mbno != null">
				mb_no,
			</if>
			<if test="mail != null">
				mail,
			</if>
			<if test="positionname != null">
				position_name,
			</if>
			<if test="positionid != null">
				position_id,
			</if>
			<if test="positionidfix != null">
				position_id_fix,
			</if>
			<if test="activeflg != null">
				active_flg,
			</if>
			<if test="createdstaffid != null">
				created_staff_id,
			</if>
			<if test="updatedstaffid != null">
				updated_staff_id,
			</if>
			<if test="datecreated != null">
				date_created,
			</if>
			<if test="lastupdated != null">
				last_updated,
			</if>
			<if test="empuuid != null">
				emp_uuid,
			</if>
			<if test="hasotherposition != null">
				has_other_position,
			</if>
			<if test="ismainposition != null">
				is_main_position,
			</if>
			<if test="loginid != null">
				login_id,
			</if>
			<if test="loginpwd != null">
				login_pwd,
			</if>
			<if test="empnmspell != null">
				emp_nm_spell,
			</if>
			<if test="isallowlogin != null">
				is_allow_login,
			</if>
			<if test="createdstaffnm != null">
				created_staff_nm,
			</if>
			<if test="updatedstaffnm != null">
				updated_staff_nm,
			</if>
			<if test="empprop != null">
				emp_prop,
			</if>
			<if test="pwderrcunt != null">
				pwd_err_cunt
			</if>
		</trim>
		)values(
		<trim suffixOverrides=",">
			<if test="empno != null">
				#{empno},
			</if>
			<if test="empnm != null">
				#{empnm},
			</if>
			<if test="empsts != null">
				#{empsts},
			</if>
			<if test="lobid != null">
				#{lobid},
			</if>
			<if test="empsex != null">
				#{empsex},
			</if>
			<if test="empbirthday != null">
				#{empbirthday},
			</if>
			<if test="joindate != null">
				#{joindate},
			</if>
			<if test="deptuuid != null">
				#{deptuuid},
			</if>
			<if test="deptnm != null">
				#{deptnm},
			</if>
			<if test="orguuid != null">
				#{orguuid},
			</if>
			<if test="orgnm != null">
				#{orgnm},
			</if>
			<if test="telno != null">
				#{telno},
			</if>
			<if test="mbno != null">
				#{mbno},
			</if>
			<if test="mail != null">
				#{mail},
			</if>
			<if test="positionname != null">
				#{positionname},
			</if>
			<if test="positionid != null">
				#{positionid},
			</if>
			<if test="positionidfix != null">
				#{positionidfix},
			</if>
			<if test="activeflg != null">
				#{activeflg},
			</if>
			<if test="createdstaffid != null">
				#{createdstaffid},
			</if>
			<if test="updatedstaffid != null">
				#{updatedstaffid},
			</if>
			<if test="datecreated != null">
				#{datecreated},
			</if>
			<if test="lastupdated != null">
				#{lastupdated},
			</if>
			<if test="empuuid != null">
				#{empuuid},
			</if>
			<if test="hasotherposition != null">
				#{hasotherposition},
			</if>
			<if test="ismainposition != null">
				#{ismainposition},
			</if>
			<if test="loginid != null">
				#{loginid},
			</if>
			<if test="loginpwd != null">
				#{loginpwd},
			</if>
			<if test="empnmspell != null">
				#{empnmspell},
			</if>
			<if test="isallowlogin != null">
				#{isallowlogin},
			</if>
			<if test="createdstaffnm != null">
				#{createdstaffnm},
			</if>
			<if test="updatedstaffnm != null">
				#{updatedstaffnm},
			</if>
			<if test="empprop != null">
				#{empprop},
			</if>
			<if test="pwderrcunt != null">
				#{pwderrcunt}
			</if>
		</trim>
		)
	</insert>


	<update id="updateTBapSysUser" parameterType="java.util.Map">
		update UAP.SYS_EMPLOYEE
		<trim prefix="SET" suffixOverrides=",">
			<if test="empno != null">
				emp_no= #{empno},
			</if>
			<if test="empnm != null">
				emp_nm= #{empnm},
			</if>
			<if test="empsts != null">
				emp_sts= #{empsts},
			</if>
			<if test="lobid != null">
				lob_id= #{lobid},
			</if>
			<if test="empsex != null">
				emp_sex= #{empsex},
			</if>
			<if test="empbirthday != null">
				emp_birthday= #{empbirthday},
			</if>
			<if test="joindate != null">
				join_date= #{joindate},
			</if>
			<if test="deptuuid != null">
				dept_uuid= #{deptuuid},
			</if>
			<if test="deptnm != null">
				dept_nm= #{deptnm},
			</if>
			<if test="orguuid != null">
				org_uuid= #{orguuid},
			</if>
			<if test="orgnm != null">
				org_nm= #{orgnm},
			</if>
			<if test="telno != null">
				tel_no= #{telno},
			</if>
			<if test="mbno != null">
				mb_no= #{mbno},
			</if>
			<if test="mail != null">
				mail= #{mail},
			</if>
			<if test="positionname != null">
				position_name= #{positionname},
			</if>
			<if test="positionid != null">
				position_id= #{positionid},
			</if>
			<if test="positionidfix != null">
				position_id_fix= #{positionidfix},
			</if>
			<if test="activeflg != null">
				active_flg= #{activeflg},
			</if>
			<if test="createdstaffid != null">
				created_staff_id= #{createdstaffid},
			</if>
			<if test="updatedstaffid != null">
				updated_staff_id= #{updatedstaffid},
			</if>
			<if test="datecreated != null">
				date_created= #{datecreated},
			</if>
			<if test="lastupdated != null">
				last_updated= #{lastupdated},
			</if>
			<if test="empuuid != null">
				emp_uuid= #{empuuid},
			</if>
			<if test="hasotherposition != null">
				has_other_position= #{hasotherposition},
			</if>
			<if test="ismainposition != null">
				is_main_position= #{ismainposition},
			</if>
			<if test="loginid != null">
				login_id= #{loginid},
			</if>
			<if test="loginpwd != null">
				login_pwd= #{loginpwd},
			</if>
			<if test="empnmspell != null">
				emp_nm_spell= #{empnmspell},
			</if>
			<if test="isallowlogin != null">
				is_allow_login= #{isallowlogin},
			</if>
			<if test="createdstaffnm != null">
				created_staff_nm= #{createdstaffnm},
			</if>
			<if test="updatedstaffnm != null">
				updated_staff_nm= #{updatedstaffnm},
			</if>
			<if test="empprop != null">
				emp_prop= #{empprop},
			</if>
			<if test="pwderrcunt != null">
				pwd_err_cunt= #{pwderrcunt}
			</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="empno != null">
				emp_no= #{empno}
			</if>
			<if test="empnm != null">
				AND emp_nm= #{empnm}
			</if>
			<if test="empsts != null">
				AND emp_sts= #{empsts}
			</if>
			<if test="lobid != null">
				AND lob_id= #{lobid}
			</if>
			<if test="empsex != null">
				AND emp_sex= #{empsex}
			</if>
			<if test="empbirthday != null">
				AND emp_birthday= #{empbirthday}
			</if>
			<if test="joindate != null">
				AND join_date= #{joindate}
			</if>
			<if test="deptuuid != null">
				AND dept_uuid= #{deptuuid}
			</if>
			<if test="deptnm != null">
				AND dept_nm= #{deptnm}
			</if>
			<if test="orguuid != null">
				AND org_uuid= #{orguuid}
			</if>
			<if test="orgnm != null">
				AND org_nm= #{orgnm}
			</if>
			<if test="telno != null">
				AND tel_no= #{telno}
			</if>
			<if test="mbno != null">
				AND mb_no= #{mbno}
			</if>
			<if test="mail != null">
				AND mail= #{mail}
			</if>
			<if test="positionname != null">
				AND position_name= #{positionname}
			</if>
			<if test="positionid != null">
				AND position_id= #{positionid}
			</if>
			<if test="positionidfix != null">
				AND position_id_fix= #{positionidfix}
			</if>
			<if test="activeflg != null">
				AND active_flg= #{activeflg}
			</if>
			<if test="createdstaffid != null">
				AND created_staff_id= #{createdstaffid}
			</if>
			<if test="updatedstaffid != null">
				AND updated_staff_id= #{updatedstaffid}
			</if>
			<if test="datecreated != null">
				AND date_created= #{datecreated}
			</if>
			<if test="lastupdated != null">
				AND last_updated= #{lastupdated}
			</if>
			<if test="empuuid != null">
				AND emp_uuid= #{empuuid}
			</if>
			<if test="hasotherposition != null">
				AND has_other_position= #{hasotherposition}
			</if>
			<if test="ismainposition != null">
				AND is_main_position= #{ismainposition}
			</if>
			<if test="loginid != null">
				AND login_id= #{loginid}
			</if>
			<if test="loginpwd != null">
				AND login_pwd= #{loginpwd}
			</if>
			<if test="empnmspell != null">
				AND emp_nm_spell= #{empnmspell}
			</if>
			<if test="isallowlogin != null">
				AND is_allow_login= #{isallowlogin}
			</if>
			<if test="createdstaffnm != null">
				AND created_staff_nm= #{createdstaffnm}
			</if>
			<if test="updatedstaffnm != null">
				AND updated_staff_nm= #{updatedstaffnm}
			</if>
			<if test="empprop != null">
				AND emp_prop= #{empprop}
			</if>
			<if test="pwderrcunt != null">
				AND pwd_err_cunt= #{pwderrcunt}
			</if>
		</trim>
	</update>


	<delete id="deleteTBapSysUser" parameterType="java.util.Map">
		delete from UAP.SYS_EMPLOYEE
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="empno != null">
				emp_no= #{empno}
			</if>
			<if test="empnm != null">
				AND emp_nm= #{empnm}
			</if>
			<if test="empsts != null">
				AND emp_sts= #{empsts}
			</if>
			<if test="lobid != null">
				AND lob_id= #{lobid}
			</if>
			<if test="empsex != null">
				AND emp_sex= #{empsex}
			</if>
			<if test="empbirthday != null">
				AND emp_birthday= #{empbirthday}
			</if>
			<if test="joindate != null">
				AND join_date= #{joindate}
			</if>
			<if test="deptuuid != null">
				AND dept_uuid= #{deptuuid}
			</if>
			<if test="deptnm != null">
				AND dept_nm= #{deptnm}
			</if>
			<if test="orguuid != null">
				AND org_uuid= #{orguuid}
			</if>
			<if test="orgnm != null">
				AND org_nm= #{orgnm}
			</if>
			<if test="telno != null">
				AND tel_no= #{telno}
			</if>
			<if test="mbno != null">
				AND mb_no= #{mbno}
			</if>
			<if test="mail != null">
				AND mail= #{mail}
			</if>
			<if test="positionname != null">
				AND position_name= #{positionname}
			</if>
			<if test="positionid != null">
				AND position_id= #{positionid}
			</if>
			<if test="positionidfix != null">
				AND position_id_fix= #{positionidfix}
			</if>
			<if test="activeflg != null">
				AND active_flg= #{activeflg}
			</if>
			<if test="createdstaffid != null">
				AND created_staff_id= #{createdstaffid}
			</if>
			<if test="updatedstaffid != null">
				AND updated_staff_id= #{updatedstaffid}
			</if>
			<if test="datecreated != null">
				AND date_created= #{datecreated}
			</if>
			<if test="lastupdated != null">
				AND last_updated= #{lastupdated}
			</if>
			<if test="empuuid != null">
				AND emp_uuid= #{empuuid}
			</if>
			<if test="hasotherposition != null">
				AND has_other_position= #{hasotherposition}
			</if>
			<if test="ismainposition != null">
				AND is_main_position= #{ismainposition}
			</if>
			<if test="loginid != null">
				AND login_id= #{loginid}
			</if>
			<if test="loginpwd != null">
				AND login_pwd= #{loginpwd}
			</if>
			<if test="empnmspell != null">
				AND emp_nm_spell= #{empnmspell}
			</if>
			<if test="isallowlogin != null">
				AND is_allow_login= #{isallowlogin}
			</if>
			<if test="createdstaffnm != null">
				AND created_staff_nm= #{createdstaffnm}
			</if>
			<if test="updatedstaffnm != null">
				AND updated_staff_nm= #{updatedstaffnm}
			</if>
			<if test="empprop != null">
				AND emp_prop= #{empprop}
			</if>
			<if test="pwderrcunt != null">
				AND pwd_err_cunt= #{pwderrcunt}
			</if>
		</trim>
	</delete>


	<select id="queryTBapSysUser" parameterType="java.util.Map"
		resultMap="tBapSysUserResult">
		select
		emp_no,emp_nm,emp_sts,lob_id,emp_sex,emp_birthday,join_date,dept_uuid,dept_nm,org_uuid,org_nm,tel_no,mb_no,mail,position_name,position_id,position_id_fix,active_flg,created_staff_id,updated_staff_id,date_created,last_updated,emp_uuid,has_other_position,is_main_position,login_id,login_pwd,emp_nm_spell,is_allow_login,created_staff_nm,updated_staff_nm,emp_prop,pwd_err_cunt
		from UAP.SYS_EMPLOYEE
		<where>
			active_flg= '1' 
			<if test="empno != null">
				and emp_no= #{empno}
			</if>
			<if test="empnm != null">
				AND emp_nm= #{empnm}
			</if>
			<if test="empsts != null">
				AND emp_sts= #{empsts}
			</if>
			<if test="lobid != null">
				AND lob_id= #{lobid}
			</if>
			<if test="empsex != null">
				AND emp_sex= #{empsex}
			</if>
			<if test="empbirthday != null">
				AND emp_birthday= #{empbirthday}
			</if>
			<if test="joindate != null">
				AND join_date= #{joindate}
			</if>
			<if test="deptuuid != null">
				AND dept_uuid= #{deptuuid}
			</if>
			<if test="deptnm != null">
				AND dept_nm= #{deptnm}
			</if>
			<if test="orguuid != null">
				AND org_uuid= #{orguuid}
			</if>
			<if test="orgnm != null">
				AND org_nm= #{orgnm}
			</if>
			<if test="telno != null">
				AND tel_no= #{telno}
			</if>
			<if test="mbno != null">
				AND mb_no= #{mbno}
			</if>
			<if test="mail != null">
				AND mail= #{mail}
			</if>
			<if test="positionname != null">
				AND position_name= #{positionname}
			</if>
			<if test="positionid != null">
				AND position_id= #{positionid}
			</if>
			<if test="positionidfix != null">
				AND position_id_fix= #{positionidfix}
			</if>
			<if test="activeflg != null">
				AND active_flg= #{activeflg}
			</if>
			<if test="createdstaffid != null">
				AND created_staff_id= #{createdstaffid}
			</if>
			<if test="updatedstaffid != null">
				AND updated_staff_id= #{updatedstaffid}
			</if>
			<if test="datecreated != null">
				AND date_created= #{datecreated}
			</if>
			<if test="lastupdated != null">
				AND last_updated= #{lastupdated}
			</if>
			<if test="empuuid != null">
				AND emp_uuid= #{empuuid}
			</if>
			<if test="hasotherposition != null">
				AND has_other_position= #{hasotherposition}
			</if>
			<if test="ismainposition != null">
				AND is_main_position= #{ismainposition}
			</if>
			<if test="loginid != null">
				AND login_id= #{loginid}
			</if>
			<if test="loginpwd != null">
				AND login_pwd= #{loginpwd}
			</if>
			<if test="empnmspell != null">
				AND emp_nm_spell= #{empnmspell}
			</if>
			<if test="isallowlogin != null">
				AND is_allow_login= #{isallowlogin}
			</if>
			<if test="createdstaffnm != null">
				AND created_staff_nm= #{createdstaffnm}
			</if>
			<if test="updatedstaffnm != null">
				AND updated_staff_nm= #{updatedstaffnm}
			</if>
			<if test="empprop != null">
				AND emp_prop= #{empprop}
			</if>
			<if test="pwderrcunt != null">
				AND pwd_err_cunt= #{pwderrcunt}
			</if>
			<if test="rownum!= null">
				<![CDATA[ 
				AND rownum<2
				]]>
			</if>
		</where>
	</select>
	<select id="countTBapSysUser" parameterType="java.util.Map"
		resultType="Integer">
		select count(1) from UAP.SYS_EMPLOYEE
		<where>
			<if test="empno != null">
				emp_no= #{empno}
			</if>
			<if test="empnm != null">
				AND emp_nm like #{empnm}
			</if>
			<if test="empsts != null">
				AND emp_sts= #{empsts}
			</if>
			<if test="lobid != null">
				AND lob_id= #{lobid}
			</if>
			<if test="empsex != null">
				AND emp_sex= #{empsex}
			</if>
			<if test="empbirthday != null">
				AND emp_birthday= #{empbirthday}
			</if>
			<if test="joindate != null">
				AND join_date= #{joindate}
			</if>
			<if test="deptuuid != null">
				AND dept_uuid= #{deptuuid}
			</if>
			<if test="deptnm != null">
				AND dept_nm= #{deptnm}
			</if>
			<if test="orguuid != null">
				AND org_uuid= #{orguuid}
			</if>
			<if test="orgnm != null">
				AND org_nm= #{orgnm}
			</if>
			<if test="telno != null">
				AND tel_no= #{telno}
			</if>
			<if test="mbno != null">
				AND mb_no= #{mbno}
			</if>
			<if test="mail != null">
				AND mail= #{mail}
			</if>
			<if test="positionname != null">
				AND position_name= #{positionname}
			</if>
			<if test="positionid != null">
				AND position_id= #{positionid}
			</if>
			<if test="positionidfix != null">
				AND position_id_fix= #{positionidfix}
			</if>				
			<if test="createdstaffid != null">
				AND created_staff_id= #{createdstaffid}
			</if>
			<if test="updatedstaffid != null">
				AND updated_staff_id= #{updatedstaffid}
			</if>
			<if test="datecreated != null">
				AND date_created= #{datecreated}
			</if>
			<if test="lastupdated != null">
				AND last_updated= #{lastupdated}
			</if>
			<if test="empuuid != null">
				AND emp_uuid= #{empuuid}
			</if>
			<if test="hasotherposition != null">
				AND has_other_position= #{hasotherposition}
			</if>
			<if test="ismainposition != null">
				AND is_main_position= #{ismainposition}
			</if>
			<if test="loginid != null">
				AND login_id= #{loginid}
			</if>
			<if test="loginpwd != null">
				AND login_pwd= #{loginpwd}
			</if>
			<if test="empnmspell != null">
				AND emp_nm_spell= #{empnmspell}
			</if>
			<if test="isallowlogin != null">
				AND is_allow_login= #{isallowlogin}
			</if>
			<if test="createdstaffnm != null">
				AND created_staff_nm= #{createdstaffnm}
			</if>
			<if test="updatedstaffnm != null">
				AND updated_staff_nm= #{updatedstaffnm}
			</if>
			<if test="empprop != null">
				AND emp_prop= #{empprop}
			</if>
			<if test="pwderrcunt != null">
				AND pwd_err_cunt= #{pwderrcunt}
			</if>
			AND active_flg= '1'
		</where>
	</select>

	<!-- 分页前缀 -->
	<sql id="pagePrefix">
		select * from(select a.*,rownum rn from(
	</sql>
	<!-- 分页后缀 -->
	<sql id="pageSuffix">
		) a where rownum &lt;= #{page}) where rn &gt;#{currentpage}
	</sql>

	<select id="findTBapSysUser" parameterType="java.util.Map"
		resultMap="tBapSysUserResult">
		<include refid="pagePrefix" />
		select
		emp_no,emp_nm,emp_sts,lob_id,emp_sex,emp_birthday,join_date,dept_uuid,dept_nm,org_uuid,org_nm,tel_no,mb_no,mail,position_name,position_id,position_id_fix,active_flg,created_staff_id,updated_staff_id,date_created,decode(last_updated,null,systimestamp,last_updated) as last_updated,emp_uuid,has_other_position,is_main_position,login_id,login_pwd,emp_nm_spell,is_allow_login,created_staff_nm,updated_staff_nm,emp_prop,pwd_err_cunt
		from UAP.SYS_EMPLOYEE
		<where>
			<if test="empno != null">
				emp_no= #{empno}
			</if>
			<if test="empnm != null">
				AND emp_nm like #{empnm}
			</if>
			<if test="empsts != null">
				AND emp_sts= #{empsts}
			</if>
			<if test="lobid != null">
				AND lob_id= #{lobid}
			</if>
			<if test="empsex != null">
				AND emp_sex= #{empsex}
			</if>
			<if test="empbirthday != null">
				AND emp_birthday= #{empbirthday}
			</if>
			<if test="joindate != null">
				AND join_date= #{joindate}
			</if>
			<if test="deptuuid != null">
				AND dept_uuid= #{deptuuid}
			</if>
			<if test="deptnm != null">
				AND dept_nm= #{deptnm}
			</if>
			<if test="orguuid != null">
				AND org_uuid= #{orguuid}
			</if>
			<if test="orgnm != null">
				AND org_nm= #{orgnm}
			</if>
			<if test="telno != null">
				AND tel_no= #{telno}
			</if>
			<if test="mbno != null">
				AND mb_no= #{mbno}
			</if>
			<if test="mail != null">
				AND mail= #{mail}
			</if>
			<if test="positionname != null">
				AND position_name= #{positionname}
			</if>
			<if test="positionid != null">
				AND position_id= #{positionid}
			</if>
			<if test="positionidfix != null">
				AND position_id_fix= #{positionidfix}
			</if>
			<if test="createdstaffid != null">
				AND created_staff_id= #{createdstaffid}
			</if>
			<if test="updatedstaffid != null">
				AND updated_staff_id= #{updatedstaffid}
			</if>
			<if test="datecreated != null">
				AND date_created= #{datecreated}
			</if>
			<if test="lastupdated != null">
				AND last_updated= #{lastupdated}
			</if>
			<if test="empuuid != null">
				AND emp_uuid= #{empuuid}
			</if>
			<if test="hasotherposition != null">
				AND has_other_position= #{hasotherposition}
			</if>
			<if test="ismainposition != null">
				AND is_main_position= #{ismainposition}
			</if>
			<if test="loginid != null">
				AND login_id= #{loginid}
			</if>
			<if test="loginpwd != null">
				AND login_pwd= #{loginpwd}
			</if>
			<if test="empnmspell != null">
				AND emp_nm_spell= #{empnmspell}
			</if>
			<if test="isallowlogin != null">
				AND is_allow_login= #{isallowlogin}
			</if>
			<if test="createdstaffnm != null">
				AND created_staff_nm= #{createdstaffnm}
			</if>
			<if test="updatedstaffnm != null">
				AND updated_staff_nm= #{updatedstaffnm}
			</if>
			<if test="empprop != null">
				AND emp_prop= #{empprop}
			</if>
			<if test="pwderrcunt != null">
				AND pwd_err_cunt= #{pwderrcunt}
			</if>
			AND active_flg= '1'
		</where>
		<include refid="pageSuffix" />
	</select>

	<select id="getMenuList" parameterType="String"
		resultType="java.util.Map">
		<![CDATA[ 
			select c.menu_id, m.permisssion
			from BAP.t_Bap_Sys_Menu m,
			BAP.t_Bap_Sys_Role_Menu c,
			BAP.T_BAP_SYS_ROLE e
			where c.menu_id = m.menu_id  and e.role_id=c.role_id and e.ATV_FLG<>1
			and c.role_id in
			(select g.role_id from BAP.t_Bap_Sys_User_Role g where g.user_id = #{userId})
		]]>
	</select>
	<select id = "getSesAutoPayBatList" resultType="java.util.Map">
		select auto.rmk as "rmk",
		       auto.AUD_BNO as "audBno"
		from SES.T_SES_AUTO_PAY_BAT auto
		where auto.BAT_STATUS in ('01','03','05')
		      and auto.CT_DT = to_char(sysdate,'yyyymmdd')
	</select>
	
	<!-- 通过loginId查询中文名称 zhou_jn 20170619-->
	<select id="queryEmpNmByLoginId" parameterType="String" resultMap="tBapSysUserResult">
		select
		emp_no,emp_nm,emp_sts,lob_id,emp_sex,emp_birthday,join_date,dept_uuid,dept_nm,org_uuid,org_nm,tel_no,mb_no,mail,position_name,position_id,position_id_fix,active_flg,created_staff_id,updated_staff_id,date_created,last_updated,emp_uuid,has_other_position,is_main_position,login_id,login_pwd,emp_nm_spell,is_allow_login,created_staff_nm,updated_staff_nm,emp_prop,pwd_err_cunt
		from UAP.SYS_EMPLOYEE 
		where login_id = #{loginId} and rownum = 1
	</select>
</mapper>