<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wutong.wsk.mapper.UserMapper">
    <select id="getAll" resultType="com.wutong.wsk.domain.UserDomain" parameterType="com.wutong.wsk.domain.UserDomain">
		select t.name,
		       t.age,
		       t.tel
		  from T_user t

	</select>
</mapper>