<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wutong.wsk.mapper.system.MenuMapper">
    <resultMap id="menuMap" type="com.wutong.wsk.domain.system.Menu" >
     <result column="MENU_ID" property="menuId"/>
     <result column="MENU_NAME" property="menuName"/>
     <result column="PARENT_ID" property="parentId"/>
     <result column="TYPE" property="type"/>
     <result column="SORT" property="sort"/>
     <result column="ICON" property="icon"/>
     <result column="IS_SHOW" property="isShow"/>
     <result column="STS" property="sts"/>
     <result column="REMARKS" property="remarks"/>
     <result column="UTE_USER_NO" property="uteUserNo"/>
     <result column="UTE_DT" property="uteDt"/>
     <result column="CTE_USER_NO" property="cteUserNo"/>
     <result column="CTE_DT" property="cteDt"/>
    </resultMap>
    
    <sql id="whereQueryCondition">
        <where>
            <if test="menu.menuId!= null and menu.menuId!= ''">
                and MENU_ID=#{menu.menuId}
            </if>
            <if test="menu.menuName!= null and menu.menuName!= ''">
                and MENU_NAME like '%${menu.menuName}%'
            </if>
            <if test="menu.parentId!= null and menu.parentId!= ''">
                and PARENT_ID=#{menu.parentId}
            </if>
        </where>
    </sql>
    
    <select id="findByCondition" parameterType="java.util.Map" resultType="Map">
        SELECT
                        t.MENU_ID as "menuId",
                        t.MENU_NAME as "menuName",
                        t.PARENT_ID as "parentId",
                        t.TYPE as "type",
                        t.SORT as "sort",
                        t.ICON as "icon",
                        t.IS_SHOW as "isShow",
                        t.STS as "sts",
                        t.REMARKS as "remarks",
                        t.UTE_USER_NO as "uteUserNo",
                        t.UTE_DT as "uteDt",
                        t.CTE_USER_NO as "cteUserNo",
                        t.CTE_DT as "cteDt"
            <!-- 请在此关联查询表 -->
            FROM MENU t
            <include refid="whereQueryCondition"></include>
            limit #{startRow}, #{endRow}
    </select>
    <select id="findByConditionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
            COUNT(*) 
        FROM MENU
        <include refid="whereQueryCondition"></include>
    </select>
    <select id="getByKey" parameterType="com.wutong.wsk.domain.system.Menu" resultMap="menuMap">
        SELECT
            MENU_ID, MENU_NAME, PARENT_ID, TYPE, SORT, ICON, IS_SHOW, STS, REMARKS, UTE_USER_NO, UTE_DT, CTE_USER_NO, CTE_DT
        FROM 
            MENU
        WHERE
              MENU_ID=#{menuId}
    </select>
    <insert id="insert" parameterType="com.wutong.wsk.domain.system.Menu">
        INSERT INTO MENU (
                MENU_ID,
                MENU_NAME,
                PARENT_ID,
                TYPE,
                SORT,
                ICON,
                IS_SHOW,
                STS,
                REMARKS,
                UTE_USER_NO,
                UTE_DT,
                CTE_USER_NO,
                CTE_DT
        ) VALUES (
                #{menuId,jdbcType=VARCHAR},
                #{menuName,jdbcType=VARCHAR},
                #{parentId,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR},
                #{sort,jdbcType=VARCHAR},
                #{icon,jdbcType=VARCHAR},
                #{isShow,jdbcType=VARCHAR},
                #{sts,jdbcType=VARCHAR},
                #{remarks,jdbcType=VARCHAR},
                #{uteUserNo,jdbcType=VARCHAR},
                #{uteDt,jdbcType=VARCHAR},
                #{cteUserNo,jdbcType=VARCHAR},
                #{cteDt,jdbcType=VARCHAR}
        )
    </insert>
    <update id="update" parameterType="com.wutong.wsk.domain.system.Menu">
        UPDATE MENU
        SET
            MENU_ID=#{menuId},
            MENU_NAME=#{menuName},
            PARENT_ID=#{parentId},
            TYPE=#{type},
            SORT=#{sort},
            ICON=#{icon},
            IS_SHOW=#{isShow},
            STS=#{sts},
            REMARKS=#{remarks},
            UTE_USER_NO=#{uteUserNo},
            UTE_DT=#{uteDt}
        WHERE
            MENU_ID=#{menuId}
    </update>
    <delete id="delete" parameterType="java.util.Map">
         delete from MENU
         where
            MENU_ID
           in 
        <foreach item="item" index="index" collection="keys" open="(" separator="," close=")">
              #{item}
        </foreach>
    </delete>
</mapper>
